# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# API integration settings with Loja Dicas and AdminHub Enterprise
NEXUS_API_KEY=
NEXUS_ERP_API_KEY=
ADMINHUB_BASE_URL=
ADMINHUB_API_KEY=
